Repository thedammyking/turborepo-react-router-v7-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "{apps,packages/ui}/**/*.{js,ts,jsx,tsx}": ["eslint --fix --quiet", "prettier --write"],
  "{apps,packages/ui}/**/*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "{apps,packages/ui}/**/*.{json,md,toml}": ["prettier --write"]
}

chore(clean up): update ESLint configurations and improve TypeScript settings
  .vscode/settings.json
  apps/docs/eslint.config.js
  apps/web/eslint.config.js
  packages/eslint-config/react.js
  packages/ui/eslint.config.js
  packages/ui/src/components/__tests__/button.test.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/setupTest.ts
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
Due: eslint --fix --quiet, prettier --write

chore(netlify): update build and dev commands for docs and web apps
  apps/docs/netlify.toml
  apps/web/netlify.toml
Due: prettier --write

chore(netlify): streamline build configurations for docs and web apps
  apps/docs/netlify.toml
  apps/web/netlify.toml
Due: prettier --write

chore(netlify): standardize base paths in build configurations for docs and web apps
  apps/docs/netlify.toml
  apps/web/netlify.toml
Due: prettier --write

chore(netlify): unify build commands in netlify.toml for docs and web apps
  apps/docs/netlify.toml
  apps/web/netlify.toml
Due: prettier --write

chore(package): specify Node.js engine requirement in package.json for apps/docs and apps/web
  apps/docs/.nvmrc
  apps/docs/package.json
  apps/web/.nvmrc
  apps/web/package.json
Due: prettier --write

chore(netlify): add functions directory configuration for docs and web apps
  apps/docs/netlify.toml
  apps/web/netlify.toml
Due: prettier --write

chore(package): update test commands across multiple packages
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
Due: prettier --write

chore(ci): add GitHub Actions workflow for running tests
  .github/workflows/tests-ci.yml
Due: none

chore(ci): add commitlint GitHub Actions workflow
  .github/workflows/commitlint-ci.yml
Due: none

chore(ci): rename quality-check job to testing and update Node.js setup
  .github/workflows/tests-ci.yml
Due: none

chore(ci): update Node.js version and rename test step in CI workflow
  .github/workflows/tests-ci.yml
Due: none

feat(vite-config): add storybook configuration and update exports
  packages/vite-config/package.json
  packages/vite-config/storybook.js
Due: none

feat(ui): integrate Storybook and update configurations
  .gitignore
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/components/__tests__/button.test.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/setupTest.ts
  packages/ui/src/stories/Button.stories.ts
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix --quiet, prettier --write

chore(ui): remove unused Storybook theme addon and related decorators
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
Due: eslint --fix --quiet, prettier --write

chore(deps): remove unused '@storybook/addon-themes' dependency from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(ci): update commitlint workflow to target main branch
  .github/workflows/commitlint-ci.yml
Due: none

chore(ci): modify tests CI workflow to trigger only on pull requests to main branch
  .github/workflows/tests-ci.yml
Due: none

docs: update README to include Storybook for UI development
  README.md
Due: none

fix(docs): clarify README descriptions for apps
  README.md
Due: none

docs: add Sass to the list of tools in README
  README.md
Due: none

docs: clarify README entry for TypeScript configuration
  README.md
Due: none

chore: remove commitlint configuration file and update workflow reference
  .github/workflows/commitlint-ci.yml
  commitlint.config.mjs
Due: none
